html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

[class*=fisher-], [class*=fisher-]::before, [class*=fisher-]::after {
  box-sizing: border-box;
}

#app, .box {
  height: inherit;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
}

.main {
  padding-left: 220px;
}

// icon component

.icon-list {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  .icon-item {
    box-sizing: border-box;
    @include center(column);
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 30px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    .icon-item__name {
      font-size: 14px;
      margin-top: 14px;
    }
  }
}